<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  <footer class="footer">
    <div class="footer-top">
        <div class="footer-section">
            <h3>Find Property</h3>
            <p>Select from thousands of options, without brokerage.</p>
            <button class="footer-btn" id="scrollToTop"><a href="/home" style="text-decoration: none ; color:white">Find Now</a></button>
        </div>
        <div class="footer-divider"></div>
        <div class="footer-section">
            <h3>List Your Property</h3>
            <p>For Free. Without any brokerage.</p>
            <button class="footer-btn"><a href="/home/listing/new" style="text-decoration: none ; color:white">Free Posting</a></button>
        </div>
    </div>

    <div class="footer-links">
        <a href="#">About Us</a>
        <a href="#">Careers</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Testimonials</a>
        <a href="#">Sitemap</a>
        <a href="#">FAQs</a>
    </div>

    <div class="footer-social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>

    <div class="footer-bottom">
        <p>© 2013-25 Kirayaa Technologies Solutions Pvt. Ltd.</p>
    </div>

    
</footer>
</body>
</html>